* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
body {
  background-color: #fafafa;
  overflow: hidden;
}
#instagram-wrapper {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
#instagram-continue {
  background-color: white;
  width: 348px;
  height: 341px;
  border: #dbdbdb 1.3px solid;
  position: relative;
  right: 200px;
  top: 10px;
}
#group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#group > img,
button {
  width: 175px;
  margin-top: 35px;
}
.profile-photo > img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  position: relative;
  top: 10px;
  border-radius: 50%;
}
.btn {
  background-color: #0095f6;
  border: none;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 18px;
  text-align: center;
  color: white;
  font-weight: bold;
  word-spacing: 2px;
}
p {
  font-size: 0.9rem;
  position: relative;
  top: -10px;
}
.switchtext {
  top: 0;
  margin-top: 30px;
  font-size: 0.9rem;
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
span {
  color: #0095f6;
  font-weight: 600;
}
span:hover {
  cursor: pointer;
}
li {
  position: relative;
  left: 40vw;
  top: 100px;
  list-style-type: none;
  color: #777676;
}
@media screen and (max-width: 1067px) {
  #instagram-wrapper {
    flex-direction: column;
  }
  #instagram-continue {
    left: 1%;
    top: 10vw;
  }
  #instagram-phone {
    display: none;
  }
  li {
    left: 2vw;
    margin-top: 30px;
    font-size: 0.9rem;
  }
}
